body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #EEEEEE;
  background-color: #111111;
}

img {
  width: 50px;
}

.wrapper {
  display: flex;
}

.wrapper section {
  width: 50%;
  padding: 10px;
}

.offensive-strategems-comtainer,
.supply-strategems-comtainer,
.defensive-strategems-comtainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.offensive-strategems-comtainer {
  box-shadow: 0 0 5px red;
  border-radius: 15px;
}

.supply-strategems-comtainer {
  box-shadow: 0 0 5px lightskyblue;
  border-radius: 15px;
}

.defensive-strategems-comtainer {
  box-shadow: 0 0 5px green;
  border-radius: 15px;
}

.disabled {
  opacity: 0.2;
}